MONGODB_URI=mongodb://mongo:27017/cafe_makassar
PORT=5000
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=cafe-images
MINIO_PUBLIC_URL=http://localhost:9000
OLLAMA_API_URL=https://ollama.if.unismuh.ac.id/api/api/generate
